/* Google Roboto and Raleway Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    font-weight: 400;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 1;
}
p{
    margin-bottom: 15px;
}
img{
    max-width: 100%;
}


.logo {
    max-width: 100px;
}

.navbar-header {
    display: flex;
    background-color: #3333;
    width: 100%;
    padding: 15px;
    justify-content: space-between;
}

.navbar {
    padding: 0;
}



.navbar-btn{
    border: 5px solid #333;
    padding: 5px;
    cursor: pointer;
}

.navbar-btn .bar1, .bar2, .bar3 {
    width: 30px;
    color: #333;
    text-align: center;
    background-color: #333;
    height: 5px;
    margin: 4px;
    transition: all .3s ease;


}
.change .bar1{
    transform: rotate(-45deg) translate(-5px, 5px)
}
.change .bar2{
    opacity: 0;
}
.change .bar3{
    transform: rotate(45deg) translate(-8px, -8px)
}
.navbar-nav{
    background-color: #444;
    transition:all .3s ease;
    width: 100%;
    height: 0;
    overflow: hidden;
  
}
.navbar__collapse{
    height: 180px;
}

.navbar-nav a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: all .3s ease;
    padding: 10px 15px;
    
}
.navbar-nav a:hover{
    background-color: #000;
    padding-left: 10px;
}
.navbar-nav a i{
    margin-right: 5px;
}

header{
    min-height: calc(100vh - 76px);
    background: url(../imgs/bg.jpg)center/cover no-repeat;
    
}